*{
    margin:0;
    padding: 0;
  }
.card{
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;

}
.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    height: 100%;
    
    padding: 25px;
    
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

    
  }



  .card:hover {
    transform: scale(1.05);
  }

  .img {
    width:  100%; /* 100% width of container */
    height: 300px;
    background-size: cover;
  }

  .animal-name{
      text-align: center;
      margin-top: 5%;
      font-size: xxx-large;
      font-weight: bold;

  }

  .addressKey{
      font-size: x-large;
  }

  .animal-info > p{
     // font-size: x-large;
  }

  .contactHeader{
      text-align: center;
      font-size: x-large;
      margin-top: 10%;
  }



.card-animal-info > p, h1, h2{
  color: white;
}
