.side-bar{
  float:left;
  padding-left: 3vw;
  padding-top: 45vh;


}

.searchContainerBanner{
  min-height: 30vh;
}

.searchContainer{
  //text-align: center;
  //padding-top:25%;
  //margin-left:25vw;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;

}

@media only screen and (max-width: 1300px) {
 .searchContainer {
   grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
 .searchContainer {
   grid-template-columns: 1fr;
   .fieldsInput{
    height:6.5vh;
    width:15.5vw;
  
   // margin-right:15px;
  }
  }


  .side-bar{
    display:none;
  }
}



.city-state-fields{
  float:left;
}

.middle{
  text-align: center;
}


.searchButton{
  background-color: #F89D13;


}

.searchButton:hover{
  background-color: #8F1D14;
}

.fieldsInput{
  height:5.5vh;
  width:7.5vw;

  margin-right:15px;
}

.searchLabel{
  font-size: 2.5rem;
}

.searchLabelBigger{
  font-size: 4rem;
}


.stickyNoteText{
  position: relative;
  width:200px;
  left:6vw;
  bottom:23vh;
}

.error-div{
  font-size: 2.5rem;
  text-align: center;
  color:red;
}


.side-bar-menu-text{

  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

.dog_bt, .more_bt{
  cursor: pointer;
}